<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add connectionString="Data Source=localhost;Initial Catalog=dbLoveDev;Integrated Security=SSPI" name="conn"/>
    <add connectionString="Data Source=ROBS-PC\\SQLEXPRESS;Initial Catalog=dbLoveDev;Integrated Security=SSPI" name="conn2" providerName="System.Data.SqlClient"/>
    <add connectionString="Data Source = ALAN\\SQLEXPRESS; Initial Catalog = dbLoveDev; Persist Security Info=True;User ID=intern;Password=intern" name="connJoseph" />
  </connectionStrings>
</configuration>