#header_navbar {
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    flex-direction: column;
}

#header_links {
    padding-top: 12px;
}

#header_login {
    
}
/*push contents away from master navbar*/
.webpage_content{
    padding-top:50px;
}
/*lightbox classes*/
.backdrop{
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    background:#000;
    opacity:0;
    filter:alpha(opacity=0);
    z-index:50;
    display:none;
}
.box {
    position: absolute;
    top: 35%;
    left:35%;
    width: 182px;
    height: 142px;
    background: #fff;
    z-index: 51;
    padding: 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0px 0px 5px #444;
    -webkit-box-shadow: 0px 0px 5px #444;
    box-shadow: 0px 0px 5px #444;
    display:none;
}
.closebox{
    float:right;
    margin-right:6px;
    cursor:pointer;
}
.input-bmargin{
    margin-bottom:3px;
}

.page_transition {
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-duration: 200ms;
    -moz-transition-duration: 200ms;
    transition-duration: 200ms;
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;

.page_one {
    opacity: 0;
}

body.page_1 .page_one {
    display: block;
    opacity: 1;
}

body.page_2 .page_one {
    display: none;
}

body.page_3 .page_one {
    display: none;
}

body.page_fb .page_one {
    display: none;
}

.page_two {
    opacity: 0;
}

body.page_1 .page_two {
    display: none;
}

body.page_2 .page_two {
    display: block;
    opacity: 1;
}

body.page_3 .page_two {
    display: none;
}

body.page_fb .page_two {
    display: none;
}

.page_three {
    opacity: 0;
}

body.page_1 .page_three {
    display: none;
}

body.page_2 .page_three {
    display: none;
}

body.page_3 .page_three {
    display: block;
    opacity: 1;
}

body.page_fb .page_three {
    display: none;
}

.page_facebook {
    opacity: 0;
}

body.page_1 .page_facebook {
    display: none;
}

body.page_2 .page_facebook {
    display: none;
}

body.page_3 .page_facebook {
    display: none;
}

body.page_fb .page_facebook {
    display: block;
    opacity: 1;
}

body.changing_page .page_one {
    opacity: 0;
}

body.changing_page .page_two {
    opacity: 0;
}

body.changing_page .page_three {
    opacity: 0;
}

body.changing_page .page_facebook {
    opacity: 0;
}
.initialized {
    opacity: 1;
}
.content_wrapper{
    margin-left:auto;
    margin-right:auto;
}
.okform {
    color: #5e6573;
    opacity: 0;
    -webkit-transition: opacity 200ms ease-in-out;
    -moz-transition: opacity 200ms ease-in-out;
    transition: opacity 200ms ease-in-out;
}

    .okform.initialized {
        opacity: 1;
    }
.page_title {
    margin-bottom: 33px;
    text-align: center;
    font-weight: 300;
}

    .page_title h2, .page_title p.subtitle {
        color: #fff;
    }

    .page_title h2 {
        font-weight: 300;
        font-size: 36px;
        line-height: 36px;
    }

    .page_title p.subtitle {
        padding-bottom: 20px;
        font-size: 20px;
        line-height: 20px;
    }


/*---------media queries-------------*/
@media (max-width: 270px){
    .box{
        left:0;
    }
}
