#header_navbar {
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    flex-direction: column;
}

#header_links {
    padding-top: 12px;
}

#header_login {
    
}
