#header_navbar {
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    flex-direction: column;
}

#header_links {
    padding-top: 12px;
}

#header_login {
    
}
/*push contents away from master navbar*/
.webpage_content{
    padding-top:50px;
}
/*lightbox classes*/
.backdrop{
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    background:#000;
    opacity:0;
    filter:alpha(opacity=0);
    z-index:50;
    display:none;
}
.box {
    position: absolute;
    top: 35%;
    left:35%;
    width: 300px;
    height: 192px;
    background: #e6e6e6;
    z-index: 51;
    padding: 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0px 0px 5px #444;
    -webkit-box-shadow: 0px 0px 5px #444;
    box-shadow: 0px 0px 5px #444;
    display:none;
}
.popupbox {
    position: absolute;
    min-width:450px;
    min-height: 192px;
    background: #e6e6e6;
    z-index: 51;
    padding: 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0px 0px 5px #444;
    -webkit-box-shadow: 0px 0px 5px #444;
    box-shadow: 0px 0px 5px #444;
    display:none;
}
.closebox{
    float:right;
    margin-right:6px;
    cursor:pointer;
}
.input-bmargin{
    margin-bottom:3px;
}
.input-width{
    width:100%;
}
.displayinlineblock{
    display:inline-block;
}
.padtop{
    padding-top:15px;
}
.modal-height{
    height:300px;
}
.msgboxheight{
    height:300px;
}
.minheight{
   min-height:95px;
}
.minheightgrid{
    min-height:200px;
}
.minwidth{
    min-width:150px;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
  background-color: #000;
}
.padpushdown{
    top:200px;
}




/*---------media queries-------------*/
/*removes white space when screen is xs*/
@media (max-width: 320px){
    .box{
        left:0;
    }
}

@media (max-width: 640px) {
    /*applied if browser window width is less than or equal to 600px*/
    .navsigin {
        display: none;
    }
}

@media (min-width: 641px) {
    /*applied if browser window width is greater than 600px*/
    .icons {
        display: none;
    }
}